.container{
  display: flex;
  padding: 20px;
}
.item{
  cursor: pointer;
  background-color: antiquewhite;
  padding: 10px 25px;
  font-size: 18px;
  transition:  background-color .3s ease;
  &:first-child{
    border-radius: 5px 0 0 5px;
  }
  &:last-child{
    border-radius: 0 5px 5px 0;
  }
}
 
.itemActive{
  background-color: rgb(240, 201, 149);
}