.container{
  display:flex;
  flex-direction: column;
  background-color: antiquewhite;
  min-height: 100vh;
  max-width: 350px;
  min-width: 250px;
  box-shadow: 0px 4px 10px rgb(50 50 71 / 20%);
  overflow: hidden;
  transition: max-width .3s ease,  min-width .3s ease;;
}
.containerItems{
  max-width: 350px;
  min-width: 250px;
  position: fixed;
  overflow: hidden;
  transition: max-width .3s ease,  min-width .3s ease;;
}
.containerClose, .containerItemsClose{
  max-width: 60px;
  min-width: 60px;
  transition: max-width .2s ease, min-width .2s ease;
}

.burger{
  width: 40px;
  height: 24px;
  margin: 15px 0 0 10px;
  position: relative;
  cursor: pointer;
}
.burgerOpen{
  .burgerLine {
    &:first-child, &:nth-child(4){
      opacity: 0
    }
    &:nth-child(2){
      transform: translateY(-50%) rotate(45deg);
    }
    &:nth-child(3){
      transform: translateY(-50%) rotate(-45deg);
    } 
  }
}
.burgerLine{
  pointer-events: none;
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  background-color: #454545;
  &:first-child{
    top: 0
  }
  &:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
  }
  &:nth-child(3){
    top: 50%;
    transform: translateY(-50%);
  }
  &:nth-child(4){
    bottom: 0;
  }
}
